USE [master]
GO
/****** Object:  Database [MidTerm_4253]    Script Date: 10/28/2020 6:30:46 PM ******/
CREATE DATABASE [MidTerm_4253]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MidTerm_4253', FILENAME = N'/var/opt/mssql/data/MidTerm_4253.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MidTerm_4253_log', FILENAME = N'/var/opt/mssql/data/MidTerm_4253_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MidTerm_4253].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MidTerm_4253]
GO
/****** Object:  UserDefinedFunction [dbo].[DaysInMonth]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DaysInMonth]
(
	@DateM DATETIME
)
RETURNS INT
AS
BEGIN

	RETURN  DAY(EOMONTH(@DateM));

END
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[vehicle] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[fleet_Id] [int] NULL,
	[last_main] [datetime] NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[vehicle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[id] [int] NOT NULL,
	[BusVehicle] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[employ_Date] [datetime] NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driverStat]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driverStat](
	[ID_STAT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESC_STAT] [text] NULL,
	[DATE_STAT] [datetime] NULL,
 CONSTRAINT [PK_driverStat] PRIMARY KEY CLUSTERED 
(
	[ID_STAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[id] [int] NOT NULL,
	[fare] [float] NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteStop]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteStop](
	[id] [int] NOT NULL,
	[RouteId] [int] NOT NULL,
	[StopId] [int] NOT NULL,
 CONSTRAINT [PK_RouteStop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[id] [int] NOT NULL,
	[RouteId] [int] NOT NULL,
	[departure] [datetime] NULL,
	[arrival] [datetime] NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stop]    Script Date: 10/28/2020 6:30:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stop](
	[id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Terminus] [nvarchar](max) NULL,
 CONSTRAINT [PK_Stop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bus] ([vehicle], [ScheduleId], [fleet_Id], [last_main]) VALUES (2, 1, 1, NULL)
INSERT [dbo].[Bus] ([vehicle], [ScheduleId], [fleet_Id], [last_main]) VALUES (3, 1, 1, NULL)
INSERT [dbo].[Bus] ([vehicle], [ScheduleId], [fleet_Id], [last_main]) VALUES (4, 2, 2, NULL)
GO
INSERT [dbo].[Driver] ([id], [BusVehicle], [Name], [employ_Date]) VALUES (6, 2, N'Driver 19', NULL)
INSERT [dbo].[Driver] ([id], [BusVehicle], [Name], [employ_Date]) VALUES (7, 2, N'Driver 12', NULL)
INSERT [dbo].[Driver] ([id], [BusVehicle], [Name], [employ_Date]) VALUES (8, 3, N'Driver 13', NULL)
GO
SET IDENTITY_INSERT [dbo].[driverStat] ON 

INSERT [dbo].[driverStat] ([ID_STAT], [DESC_STAT], [DATE_STAT]) VALUES (CAST(1 AS Numeric(18, 0)), N'A new Vehicle is inserted with an id= 28, Which will go on the route = 3', CAST(N'2020-10-28T16:52:44.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[driverStat] OFF
GO
INSERT [dbo].[Route] ([id], [fare]) VALUES (1, 10)
INSERT [dbo].[Route] ([id], [fare]) VALUES (2, 8)
INSERT [dbo].[Route] ([id], [fare]) VALUES (3, 7)
GO
INSERT [dbo].[RouteStop] ([id], [RouteId], [StopId]) VALUES (1, 1, 1)
INSERT [dbo].[RouteStop] ([id], [RouteId], [StopId]) VALUES (2, 1, 2)
INSERT [dbo].[RouteStop] ([id], [RouteId], [StopId]) VALUES (3, 1, 3)
GO
INSERT [dbo].[Schedule] ([id], [RouteId], [departure], [arrival]) VALUES (1, 1, CAST(N'2015-10-26T10:00:00.000' AS DateTime), CAST(N'2015-10-26T13:00:00.000' AS DateTime))
INSERT [dbo].[Schedule] ([id], [RouteId], [departure], [arrival]) VALUES (2, 2, CAST(N'2015-10-26T10:30:00.000' AS DateTime), CAST(N'2015-10-26T13:30:00.000' AS DateTime))
INSERT [dbo].[Schedule] ([id], [RouteId], [departure], [arrival]) VALUES (3, 3, CAST(N'2015-10-26T11:00:00.000' AS DateTime), CAST(N'2015-10-26T14:00:00.000' AS DateTime))
GO
INSERT [dbo].[Stop] ([id], [Name], [Terminus]) VALUES (1, N'Stop1', NULL)
INSERT [dbo].[Stop] ([id], [Name], [Terminus]) VALUES (2, N'Stop2', NULL)
INSERT [dbo].[Stop] ([id], [Name], [Terminus]) VALUES (3, N'Stop3', NULL)
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD  CONSTRAINT [FK_Bus_Schedule] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedule] ([id])
GO
ALTER TABLE [dbo].[Bus] CHECK CONSTRAINT [FK_Bus_Schedule]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Bus] FOREIGN KEY([BusVehicle])
REFERENCES [dbo].[Bus] ([vehicle])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_Bus]
GO
ALTER TABLE [dbo].[RouteStop]  WITH CHECK ADD  CONSTRAINT [FK_RouteStop_Route] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Route] ([id])
GO
ALTER TABLE [dbo].[RouteStop] CHECK CONSTRAINT [FK_RouteStop_Route]
GO
ALTER TABLE [dbo].[RouteStop]  WITH CHECK ADD  CONSTRAINT [FK_RouteStop_Stop] FOREIGN KEY([StopId])
REFERENCES [dbo].[Stop] ([id])
GO
ALTER TABLE [dbo].[RouteStop] CHECK CONSTRAINT [FK_RouteStop_Stop]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Route] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Route] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Route]
GO
/****** Object:  StoredProcedure [dbo].[EX5]    Script Date: 10/28/2020 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EX5] 
	-- Add the parameters for the stored procedure here
	@vehicleID AS INT
	
AS
BEGIN

	SET NOCOUNT ON;


	SELECT D.BusVehicle, SS.Name, arrival
	FROM Driver as D
		INNER JOIN
		BUS AS B
			ON D.BusVehicle	= B.vehicle
		INNER JOIN
		Schedule AS S
			ON B.ScheduleId = S.id
		INNER JOIN 
		Route AS R
			ON S.RouteId = R.id
		INNER JOIN
		RouteStop AS RS
			ON RS.RouteId = R.id
		INNER JOIN
		Stop AS SS
				ON RS.StopId = SS.id

WHERE @vehicleID = B.vehicle

		
		
END
GO

USE [master]
GO
--The Function, View, Procedure, & Trigger are in the EX4-7_Code.sql file !

--BACKUP DATABASE [MidTerm_4253] TO  DISK = N'/ProgramData/MidTerm_4253Backup' WITH NOFORMAT, NOINIT,  NAME = N'MidTerm_4253-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10
--GO
--I do the Backup but i cannot access .bak directory due to the server being hosted in Docker Windows
